body {
    background: url(back1.jpg);
    font-family: 'Dosis', sans-serif;
    background-size: cover;
}
.title{
    text-align: center;
    color: navy;
    /*para agregar borde:
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    */
}
.grid-stack-item-content {
    background-repeat: no-repeat;
    
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.carrierHorizontal{
    background-image: url('ships/carrier.png');
    background-size: 85% 100%;
    background-position: center;
}

.carrierVertical{
    background-image: url('ships/carrier_vertical.png');
    background-size: 100% 85%;
    background-position: center;
    width: 45px !important;
}

.battleshipHorizontal{
    background-image: url('ships/battleship.png');
    background-size: 85% 100%;
    background-position: center;
}

.battleshipVertical{
    background-image: url('ships/battleship_vertical.png');
    background-size: 100% 85%;
    background-position: center;
    width: 45px !important;
}

.submarineHorizontal{
    background-image: url('ships/submarine.png');
    background-size: 90% 100%;
    background-position: center;
}

.submarineVertical{
    background-image: url('ships/submarine_vertical.png');
    background-size: 100% 90%;
    background-position: center;
    width: 45px !important;
}

.destroyerHorizontal{
    background-image: url('ships/destroyer.png');
    background-size: 100% 150%;
    background-position: center;
}

.destroyerVertical{
    background-image: url('ships/destroyer_vertical.png');
    background-size: 150% 100%;
    background-position: center;
    width: 45px !important;
}

.patrol_boatHorizontal{
    background-image: url('ships/patrol_boat.png');
    background-size: 100% 150%;
    background-position: center;
}

.patrol_boatVertical{
    background-image: url('ships/patrol_boat_vertical.png');
    background-size: 150% 100%;
    background-position: center;
    width: 45px !important;
}



.grid-ships{
    background-image: url(backships.gif);
    background-size: cover;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 10px;
    height: 495px;
    width: 495px;
    margin: auto;
    margin-top: auto
}

#grid{
    margin: 45px 0 0 45px;
    position: absolute;
    width: 450px;
 
}

.grid-wrapper{
    display: absolute;
    display: flex;
    flex-direction: column;
}

.grid-row{
    display: flex;
    flex-direction: row;
}

.grid-cell{
    display: flex;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 1.3px solid rgb(15, 15, 15);
    /*1.3px solid rgb(128,128,128);*/
    border-radius: 10px;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
.grid-cell span{
    
    margin: auto
}

.busy-cell{
    background-color: rgba(46, 154, 88, 0.77)
    /*rgba(0,119,190,0.5);*/
    
}

.grid-row:first-child .grid-cell{
    background-color: #008f39;
    /*rgba(170,169,173,0.7);*/
}

.grid-cell:first-child{
    background-color: #008f39;
}

#alert-text{
    color: red;
    text-align: center;
    display: block;
}

/* BOTON CIRCULAR */

.boton-circular {
    width: 85px;
    height: 85px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 19px;
    line-height: 1.42857;
    background-color: #008f39;
    position: absolute;
    left: 90%;
    top: 85%;

}


